# Module 1: Introduction to Exploratory Analysis

What we'll be doing in this notebook:
-----

 1.  Checking variable type
 2.  Checking for missing variables 
 3.  Number of observations in the dataset
 4.  Descriptive statistics

### Import packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import dateutil.parser

# The command below means that the output of multiple commands in a cell will be output at once
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# The command below tells jupyter to display up to 80 columns, this keeps everything visible
pd.set_option('display.max_columns', 80)
pd.set_option('expand_frame_repr', True)

# Show figures in notebook
%matplotlib inline

### Import dataset

We read in our dataset

In [2]:
kiva_locations = pd.read_csv("/home/catherine/Desktop/DataScience1/data/Kenya/kiva_ke_locations.csv")
kiva_loans_ke = pd.read_csv("/home/catherine/Desktop/DataScience1/data/Kenya/kiva_loans_ke.csv")
kiva_loan_themes = pd.read_csv("/home/catherine/Desktop/DataScience1/data/Kenya/loan_theme_ke.csv")

In the cell below, we take a random sample of 2 rows to get a feel for the data.

In [3]:
kiva_loans_ke.sample(n = 1002)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
53852,1123457,525,525,General Store,Retail,"to buy more stock of bread, flour, soap, sugar...",KE,Kenya,Machakos,KES,138.0,2016-07-26 06:33:24+00:00,2016-07-22 07:00:00+00:00,2016-09-02 22:24:53+00:00,14,13,"#Parent, #Woman Owned Biz, #Repeat Borrower",female,monthly,2016-07-26
20296,823856,225,225,Milk Sales,Food,to buy more stock of milk to sell,KE,Kenya,Kapsabet,KES,133.0,2015-01-05 09:31:06+00:00,2014-12-15 08:00:00+00:00,2015-01-06 19:46:34+00:00,8,1,NaN,female,monthly,2015-01-05
75715,1334887,0,200,Farming,Agriculture,to start an agro-vet business (a shop for farm...,KE,Kenya,Thika,KES,156.0,2017-07-06 09:15:02+00:00,2017-06-29 07:00:00+00:00,NaN,14,0,"#Animals, #Parent",female,monthly,2017-07-06
63732,1218679,50,50,Home Energy,Personal Use,to buy an eco-friendly jiko or stove.,KE,Kenya,Eldoret,KES,156.0,2017-01-11 11:21:33+00:00,2016-12-28 08:00:00+00:00,2017-01-11 17:28:15+00:00,8,1,"user_favorite, #Eco-friendly, #Health and Sani...",female,monthly,2017-01-11
48854,1054067,700,700,Farming,Agriculture,to purchase hybrid seeds and fertilizer for th...,KE,Kenya,Chwele,KES,202.0,2016-04-14 06:16:12+00:00,2016-04-02 07:00:00+00:00,2016-04-25 03:11:45+00:00,9,26,"#Eco-friendly, #Sustainable Ag, #Technology, #...","female, female, female, female, female, female...",bullet,2016-04-14
16077,1085312,125,125,Clothing,Clothing,Buy stock for my mtumba business,KE,Kenya,NaN,KES,NaN,2014-11-05 11:34:48+00:00,2015-01-06 21:31:03+00:00,2014-12-27 01:54:33+00:00,3,9,NaN,female,monthly,2014-11-05
44292,1018248,600,600,Cereals,Food,to buy cereals.,KE,Kenya,Nandi Hills,KES,156.0,2016-02-04 08:34:25+00:00,2016-02-07 08:00:00+00:00,2016-02-29 04:44:42+00:00,14,5,"#Parent, #Woman Owned Biz",female,monthly,2016-02-04
27788,876468,275,275,Farming,Agriculture,to buy certified farm inputs for more production.,KE,Kenya,Kisii,KES,133.0,2015-04-27 09:08:33+00:00,2015-03-31 07:00:00+00:00,2015-05-28 20:29:22+00:00,12,8,"#Elderly, #First Loan, #Supporting Family",female,monthly,2015-04-27
46706,1036911,300,300,Services,Services,to add float to use in her business.,KE,Kenya,Msambweni,KES,164.0,2016-03-11 06:07:25+00:00,2016-03-11 08:00:00+00:00,2016-03-19 15:01:32+00:00,13,12,"#Single, #Technology",female,irregular,2016-03-11
48858,1054174,450,450,Farming,Agriculture,to purchase hybrid seeds and fertilizer to imp...,KE,Kenya,Chwele,KES,202.0,2016-04-14 07:58:30+00:00,2016-04-02 07:00:00+00:00,2016-04-22 23:22:27+00:00,9,18,"#Eco-friendly, #Sustainable Ag, #Technology, #...","male, male, female, female, female, female",bullet,2016-04-14
53629,1120544,700,700,Grocery Store,Food,to buy more vegetables for resale so as to mee...,KE,Kenya,Thika,KES,388.0,2016-07-21 07:51:49+00:00,2016-06-21 07:00:00+00:00,2016-08-30 05:18:12+00:00,14,24,"#Woman Owned Biz, #Parent","female, female, female, female",monthly,2016-07-21
22772,1087515,325,325,Cosmetics Sales,Retail,"purchase ladies hair oil, soda, hair shampoo a...",KE,Kenya,NaN,KES,NaN,2015-02-17 11:20:00+00:00,2015-07-07 17:26:00+00:00,2015-07-01 14:05:44+00:00,6,28,NaN,female,irregular,2015-02-17
52459,1109398,400,400,Fruits & Vegetables,Food,to buy more stock of fruits to sell and seeds ...,KE,Kenya,Molo,KES,138.0,2016-06-30 08:43:06+00:00,2016-06-20 07:00:00+00:00,2016-08-06 19:31:47+00:00,14,12,"#Parent, #Woman Owned Biz, #Repeat Borrower, #...",female,monthly,2016-06-30
71103,1283450,575,575,Farming,Agriculture,to purchase a solar light and increase maize c...,KE,Kenya,Teso,KES,202.0,2017-04-21 10:13:49+00:00,2017-04-01 07:00:00+00:00,2017-04-25 22:21:48+00:00,9,9,"#Sustainable Ag, #Eco-friendly, #Parent, #Scho...","female, female, female, female, female, female...",bullet,2017-04-21
22278,837164,450,450,Farming,Agriculture,to start horticulture farming,KE,Kenya,Nyamira,KES,156.0,2015-02-06 13:19:01+00:00,2015-02-10 08:00:00+00:00,2015-02-22 14:01:05+00:00,14,17,"#Parent, #Woman Owned Biz",female,monthly,2015-02-06
24310,853793,225,225,Cosmetics Sales,Retail,buy more stock of clothes and cosmetics,KE,Kenya,Changamwe,KES,138.0,2015-03-11 15:14:09+00:00,2015-03-09 07:00:00+00:00,2015-03-17 18:20:57+00:00,8,6,NaN,female,monthly,2015-03-11
35518,936227,925,925,Furniture Making,Manufacturing,buy more timber and timber processing tools,KE,Kenya,Bungoma,KES,138.0,2015-08-21 08:37:24+00:00,2015-08-18 07:00:00+00:00,2015-08-28 12:36:59+00:00,11,32,"#Parent, #Repeat Borrower",male,monthly,2015-08-21
40478,986523,200,200,Clothing Sales,Clothing,to buy more stock of clothes,KE,Kenya,Nakuru,KES,138.0,2015-11-27 06:03:47+00:00,2015-11-23 08:00:00+00:00,2015-12-09 21:43:35+00:00,8,7,"#Parent, #Repeat Borrower, #Woman Owned Biz",female,monthly,2015-11-27
35294,934876,200,200,Livestock,Agriculture,to pay for construction materials for a cow sh...,KE,Kenya,Limuru,KES,388.0,2015-08-19 11:54:41+00:00,2015-07-20 07:00:00+00:00,2015-08-21 23:19:32+00:00,14,7,NaN,female,monthly,2015-08-19
39074,972204,200,200,Clothing,Clothing,to purchase bales of khangas for resale,KE,Kenya,Mwambalazi,KES,164.0,2015-11-02 05:50:58+00:00,2015-11-02 08:00:00+00:00,2015-11-16 20:34:13+00:00,13,6,"#Parent, #Woman Owned Biz",female,irregular,2015-11-02
27526,874738,725,725,Farming,Agriculture,to purchase a solar light and gain access to c...,KE,Kenya,Matete,KES,202.0,2015-04-23 11:30:18+00:00,2015-03-30 07:00:00+00:00,2015-04-29 20:10:41+00:00,10,5,NaN,"female, female, female, female, female, female...",bullet,2015-04-23
30260,895508,125,125,Retail,Retail,"to purchase stock of sugar, rice, maize flour ...",KE,Kenya,Msambweni,KES,164.0,2015-06-02 08:29:55+00:00,2015-06-02 07:00:00+00:00,2015-06-05 18:54:20+00:00,13,4,NaN,female,irregular,2015-06-02
769,659706,750,750,Dairy,Agriculture,to buy a dairy cow.,KE,Kenya,Kitale,KES,156.0,2014-01-21 06:17:14+00:00,2013-12-30 08:00:00+00:00,2014-01-23 02:15:56+00:00,20,25,NaN,male,monthly,2014-01-21
38097,960650,100,100,Retail,Retail,"to buy more stock of bread, soda, flour and ot...",KE,Kenya,Mwingi,KES,138.0,2015-10-09 09:45:49+00:00,2015-09-23 07:00:00+00:00,2015-10-13 16:53:42+00:00,14,3,NaN,female,monthly,2015-10-09
44304,1018379,150,150,Cereals,Food,to pay for cereal.,KE,Kenya,Nkubu,KES,156.0,2016-02-04 12:18:36+00:00,2016-02-03 08:00:00+00:00,2016-02-13 04:59:12+00:00,14,6,NaN,female,monthly,2016-02-04
13279,776266,350,350,Farming,Agriculture,to buy a dairy cow.,KE,Kenya,Kisii,KES,156.0,2014-09-29 09:10:11+00:00,2014-09-23 07:00:00+00:00,2014-10-15 04:14:56+00:00,14,8,"#Biz Durable Asset, #Animals, #Parent",male,monthly,2014-09-29
35015,932297,250,250,Farming,Agriculture,to buy a cow so as to supply milk for income a...,KE,Kenya,Kisii,KES,133.0,2015-08-14 09:18:25+00:00,2015-08-03 07:00:00+00:00,2015-08-17 01:56:25+00:00,12,10,"#Animals, #Single, #Woman Owned Biz, user_favo...",female,monthly,2015-08-14
26772,869751,1325,1325,Agriculture,Agriculture,to purchase a solar light and gain access to c...,KE,Kenya,Butere,KES,202.0,2015-04-14 11:57:16+00:00,2015-03-30 07:00:00+00:00,2015-05-18 02:50:20+00:00,10,23,"#First Loan, #Parent, #Sustainable Ag, #Vegan","male, male, female, male, male, male, female, ...",bullet,2015-04-14
48074,1049704,375,375,Farming,Agriculture,to purchase another dairy cow.,KE,Kenya,Kitale,KES,156.0,2016-04-05 11:28:14+00:00,2016-03-07 08:00:00+00:00,2016-04-09 12:41:08+00:00,14,9,#Animals,female,monthly,2016-04-05
10225,753028,275,275,Electronics Repair,Services,to buy more electronics spare parts to use,KE,Kenya,Kisumu,KES,133.0,2014-08-12 08:15:22+00:00,2014-07-17 07:00:00+00:00,2014-08-21 20:04:27+00:00,11,10,NaN,male,monthly,2014-08-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69551,1269958,300,300,Poultry,Agriculture,to buy new chicks and materials to construct n...,KE,Kenya,Eldoret,KES,156.0,2017-03-30 06:41:01+00:00,2017-03-22 07:00:00+00:00,2017-04-28 13:47:44+00:00,14,9,"#Animals, #Biz Durable Asset, #Parent, #Schooling",female,monthly,2017-03-30
52146,1103968,700,700,Barber Shop,Services,to buy barber shop equipment,KE,Kenya,Mombasa,KES,138.0,2016-06-22 07:42:59+00:00,2016-06-17 07:00:00+00:00,2016-07-26 01:31:15+00:00,14,27,"#Parent, #Repeat Borrower, #Schooling",male,monthly,2016-06-22
36408,944224,200,200,Farming,Agriculture,to buy maize for sale,KE,Kenya,Makueni,KES,133.0,2015-09-07 09:12:01+00:00,2015-09-01 07:00:00+00:00,2015-09-18 17:10:20+00:00,14,6,"#Parent, #First Loan, #Schooling, #Vegan, #Wom...",female,monthly,2015-09-07
4737,695636,475,475,Cereals,Food,"to purchase wheat, maize,and rice.",KE,Kenya,Kisauni,KES,164.0,2014-04-09 12:12:39+00:00,2014-03-11 07:00:00+00:00,2014-04-25 12:19:09+00:00,13,18,"#Parent, #Woman Owned Biz",female,irregular,2014-04-09
53305,1116762,200,200,Food,Food,to purchase six sacks of cashew nuts.,KE,Kenya,Likoni,KES,164.0,2016-07-15 05:51:03+00:00,2016-06-30 07:00:00+00:00,2016-07-25 12:53:54+00:00,14,6,user_favorite,female,irregular,2016-07-15
56075,1145613,100,100,Farming,Agriculture,\tto buy farm inputs.,KE,Kenya,Kitale,KES,156.0,2016-09-05 09:50:48+00:00,2016-08-29 07:00:00+00:00,2016-09-14 14:25:54+00:00,14,3,"#Woman Owned Biz, #Parent",female,monthly,2016-09-05
18821,1086351,125,125,Clothing,Clothing,buy material stock for use in my tailoring shop,KE,Kenya,NaN,KES,NaN,2014-12-02 13:33:30+00:00,2015-02-04 12:42:02+00:00,2015-01-29 07:57:48+00:00,3,8,NaN,female,monthly,2014-12-02
5140,697975,875,875,Fish Selling,Food,to purchase stocks of dried fish.,KE,Kenya,Voi,KES,133.0,2014-04-15 07:39:22+00:00,2014-04-03 07:00:00+00:00,2014-04-18 02:00:03+00:00,20,32,"#Parent, #Repeat Borrower",female,monthly,2014-04-15
16175,794599,125,125,Food,Food,to add stock of vegetables and cereals for res...,KE,Kenya,Kisumu,KES,133.0,2014-11-06 06:54:09+00:00,2014-10-17 07:00:00+00:00,2014-11-10 12:28:35+00:00,8,3,NaN,female,monthly,2014-11-06
71377,1284385,300,300,Farming,Agriculture,to buy farm inputs to increase her farming.,KE,Kenya,Nkubu,KES,156.0,2017-04-24 05:32:54+00:00,2017-04-21 07:00:00+00:00,2017-05-22 16:23:59+00:00,14,9,"#Schooling, #Woman Owned Biz, #Repeat Borrower...",female,monthly,2017-04-24
31250,903217,275,275,Farming,Agriculture,To buy certified seeds and farm inputs for use...,KE,Kenya,Kisii,KES,133.0,2015-06-17 08:25:32+00:00,2015-05-26 07:00:00+00:00,2015-07-17 13:00:32+00:00,13,8,"#First Loan, #Schooling, #Parent, #Vegan, #Wom...",female,monthly,2015-06-17
18801,809230,575,575,Food,Food,"to purchase bundles of wheat flour, maize flou...",KE,Kenya,Kaloleni,KES,164.0,2014-12-02 07:48:24+00:00,2014-12-02 08:00:00+00:00,2015-01-01 00:02:37+00:00,13,19,"volunteer_pick, volunteer_like, #Woman Owned Biz",female,irregular,2014-12-02
20995,1086850,350,350,Grocery Store,Food,hire an extra person to assist with sales and ...,KE,Kenya,NaN,KES,NaN,2015-01-14 13:53:56+00:00,2015-02-12 21:21:02+00:00,2015-02-07 10:26:16+00:00,7,34,NaN,female,weekly,2015-01-14
66279,1238828,500,500,General Store,Retail,"to purchase bales of sugar, rice, wheat and ma...",KE,Kenya,Kapsabet,KES,133.0,2017-02-15 09:38:19+00:00,2017-02-03 08:00:00+00:00,2017-03-08 13:36:31+00:00,14,15,"#Schooling, #Woman Owned Biz, #Parent, #Single...",female,monthly,2017-02-15
72516,1296060,50,50,Home Energy,Personal Use,to buy an eco-friendly stove.,KE,Kenya,Nandi Hills,KES,156.0,2017-05-11 05:46:36+00:00,2017-05-09 07:00:00+00:00,2017-05-15 23:31:39+00:00,7,2,NaN,female,monthly,2017-05-11
42578,1005001,1050,1050,Farming,Agriculture,to buy cost-efficient maize seeds and fertiliz...,KE,Kenya,Webuye,KES,202.0,2016-01-07 06:41:17+00:00,2016-02-01 08:00:00+00:00,2016-02-24 19:06:03+00:00,11,30,"#Sustainable Ag, #Eco-friendly, #Vegan, user_f...","male, male, male, female, female, female, fema...",bullet,2016-01-07
47858,1048382,200,200,Farming,Agriculture,to buy farm implements.,KE,Kenya,Kapsowar,KES,156.0,2016-04-01 13:22:22+00:00,2016-03-29 07:00:00+00:00,2016-04-12 07:42:26+00:00,14,8,"#Parent, #Schooling, #Woman Owned Biz",female,monthly,2016-04-01
31849,907932,250,275,Retail,Retail,to add stock for his retail business.,KE,Kenya,Kisii,KES,133.0,2015-06-25 08:20:16+00:00,2015-05-28 07:00:00+00:00,NaN,13,4,"#Elderly, #Parent, #First Loan, user_favorite",male,monthly,2015-06-25
6902,716813,325,325,Agriculture,Agriculture,To buy beehives and apiary materials for honey...,KE,Kenya,Kitale,KES,277.0,2014-05-27 15:30:29+00:00,2014-07-27 07:00:00+00:00,2014-06-08 21:13:39+00:00,50,12,"#Animals, #Eco-friendly, #Biz Durable Asset, u...",male,bullet,2014-05-27
47344,1042931,525,525,Farming,Agriculture,to buy fertilizer for farm use,KE,Kenya,Machakos,KES,138.0,2016-03-23 05:53:07+00:00,2016-03-18 07:00:00+00:00,2016-04-18 13:34:38+00:00,14,8,"#Parent, #Repeat Borrower, #Vegan, #Woman Owne...",female,monthly,2016-03-23
16088,794184,575,575,General Store,Retail,to buy more stock of goods to sell.,KE,Kenya,Nakuru,KES,133.0,2014-11-05 09:55:49+00:00,2014-10-14 07:00:00+00:00,2014-11-19 22:01:14+00:00,8,16,"#Parent, #Supporting Family, #Repeat Borrower",male,monthly,2014-11-05
55891,1143801,250,250,Fish Selling,Food,to purchase bundles of fish for resale,KE,Kenya,Msambweni,KES,164.0,2016-09-01 11:45:47+00:00,2016-08-16 07:00:00+00:00,2016-09-17 09:48:59+00:00,13,9,"#Parent, #Woman Owned Biz",female,irregular,2016-09-01
44132,1017235,300,300,General Store,Retail,"to purchase stock of sugar, rice, maize flour ...",KE,Kenya,Lamu,KES,164.0,2016-02-02 09:54:07+00:00,2016-02-02 08:00:00+00:00,2016-03-01 06:12:24+00:00,13,12,#Woman Owned Biz,female,irregular,2016-02-02
75659,1334799,0,700,Charcoal Sales,Retail,to buy more stock of charcoal,KE,Kenya,Kilifi,KES,138.0,2017-07-06 07:57:36+00:00,2017-06-30 07:00:00+00:00,NaN,14,0,#Parent,male,monthly,2017-07-06
54421,1129671,1200,1200,Clothing Sales,Clothing,to buy more stock of clothes,KE,Kenya,Migori,KES,138.0,2016-08-05 11:49:47+00:00,2016-07-29 07:00:00+00:00,2016-09-15 07:25:26+00:00,14,43,"#Repeat Borrower, #Parent, #Woman Owned Biz, u...",female,monthly,2016-08-05
42541,1004633,700,700,Farming,Agriculture,to buy cost efficient maize seeds and fertiliz...,KE,Kenya,Webuye,KES,202.0,2016-01-06 12:37:27+00:00,2016-02-01 08:00:00+00:00,2016-02-06 13:18:55+00:00,11,22,"#Sustainable Ag, #Vegan, #Parent, #Eco-friendl...","male, female, male, female, male, male, female...",bullet,2016-01-06
46314,1034627,500,500,Higher education costs,Education,to pay for university fees,KE,Kenya,Nairobi,KES,466.0,2016-03-07 15:17:30+00:00,2016-05-31 07:00:00+00:00,2016-03-09 18:01:21+00:00,40,13,"#Schooling, user_favorite",female,monthly,2016-03-07
47417,1043802,200,200,Natural Medicines,Health,to purchase a stock of herbal medicine for re...,KE,Kenya,Makueni,KES,164.0,2016-03-24 07:48:25+00:00,2016-03-14 07:00:00+00:00,2016-03-29 00:48:02+00:00,13,5,#Health and Sanitation,female,irregular,2016-03-24
19339,812371,225,225,Retail,Retail,buy more stock of cereal,KE,Kenya,Luanda,KES,138.0,2014-12-09 09:37:50+00:00,2014-12-08 08:00:00+00:00,2014-12-20 23:24:25+00:00,11,1,"#Parent, #Repeat Borrower",male,monthly,2014-12-09
34307,1089873,125,125,Grocery Store,Food,buy more bottle and storage containers.,KE,Kenya,NaN,KES,NaN,2015-08-04 13:19:29+00:00,2015-09-10 16:23:00+00:00,2015-09-01 00:14:20+00:00,3,5,NaN,female,monthly,2015-08-04

### 1) Type Checking
<a id='type_check'></a>

Type is very important in Python programing, because it affects the types of functions you can apply to a series. There are a few different types of data you will see regularly (see [this](https://en.wikibooks.org/wiki/Python_Programming/Data_Types) link for more detail):
* **int** - a number with no decimal places. example: loan_amount field
* **float** - a number with decimal places. example: partner_id field
* **str** - str is short for string. This type formally defined as a sequence of unicode characters. More simply, string means that the data is treated as a word, not a number. example: sector
* **boolean** - can only be True or False. There is not currently an example in the data, but we will be creating a gender field shortly.
* **datetime** - values meant to hold time data. Example: posted_date

Let's check the type of our variables using the examples we saw in the cell above.

In [5]:
# Here are all of the columns
kiva_loans_ke.columns.tolist()

['id',
 'funded_amount',
 'loan_amount',
 'activity',
 'sector',
 'use',
 'country_code',
 'country',
 'region',
 'currency',
 'partner_id',
 'posted_time',
 'disbursed_time',
 'funded_time',
 'term_in_months',
 'lender_count',
 'tags',
 'borrower_genders',
 'repayment_interval',
 'date']

In [56]:
# Find the dtype, aka datatype, for a column
df['id_number'].dtype

dtype('int64')

In [57]:
# Try this - Pick a couple of columns and check their type on your own

### 2) Do I have missing values?

<a id='missing_check'></a>

Missing data in the training data set can reduce the power / fit of a model or can lead to a biased model because we have not analysed the behavior and relationship with other variables correctly. It can lead to wrong prediction or classification.

If we have missing data, is the missing data at random or not? If data is missing at random, the data distribution is still representative of the population. You can probably ignore the missing values as an inconvenience. However, if the data is systematically missing, the analysis you do may be biased. You should carefully consider the best way to clean the data, it may involve dropping some data.

We want to see how many values are missing in certain variable columns. One way to do this is to count the number of null observations. 

For this, we wrote a short function to apply to the dataframe. 

We print out the first few observations, but you can remove the .head() to print out all columns.

In [7]:
#Create a new function:
def num_missing(x):
    return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
## Check how many are missing by column, and then check which ones have any missing values
print(kiva_loans_ke.apply(num_missing, axis=0).where(lambda x : x != 0).dropna()) 
#axis=0 defines that function is to be applied on each column

Missing values per column:
use                   713.0
region               8752.0
partner_id           8372.0
disbursed_time        381.0
funded_time          5446.0
tags                23186.0
borrower_genders      712.0
dtype: float64

In [59]:
#checking the % of missing values
total = df.isnull().sum().sort_values(ascending = False)

percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending = False)

missing_kiva_loans_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_kiva_loans_data

                       Total   Percent
funded_date              937  0.155674
use                      342  0.056820
description              342  0.056820
location_country_code     17  0.002824
sector                     0  0.000000
repayment_term             0  0.000000
funded_amount              0  0.000000
status                     0  0.000000
lender_count               0  0.000000
loan_amount                0  0.000000
id_number                  0  0.000000

### 3) Sanity Checks
<a id='obs_check'></a>

**Does the dataset match what you expected to find?**
- is the range of values what you would expect. For example, are all loan_amounts above 0.
- do you have the number of rows you would expect
- is your data for the date range what you would expect. For example, is there a strange year in the data like 1880.
- are there unexpected spikes when you plot the data over time


In the command below we find out the number of rows and number of columns by using the function shape. You can also use len(df.index) to find the number of rows.

In [9]:
print(f'There are {kiva_loans_ke.shape[0]} observations and {kiva_loans_ke.shape[1]} features')

There are 75825 observations and 20 features

Remember, each row is an observation and each column is a potential feature. 

Remember we need a large amount of data for machine learning.

### 4) Descriptive statistics of the dataset

<a id='desc_stats'></a>

In [61]:
#Try out - Write code that provides key summary statistics for each numeric column.

In order to get the same summary statistics for categorical columns (string) we need to do a little data wrangling. The first line of code filters for all columns that are a data type object. As we know from before this means they are considered to be a string. The final row of code provides summary statistics for these character fields.

In [62]:
categorical = df.dtypes[df.dtypes == "object"].index
df.describe()

,status,funded_date,location_country_code,sector,description,use
count,6019,5082,6002,6019,5677,5677
unique,3,4453,30,14,5277,4325
top,funded,2018-07-22T15:54:41Z,TZ,Food,With the income produced during the previous l...,to pay for a stove.
freq,5082,9,400,1738,2,80

In [63]:
#Try out - What's the other way one can obtain the information above?

In the table above, there are 4 really useful fields: 

1) **count** - total number of fields populated (Not empty). 

2) **unique** - tells us how many different unique ways this field is populated.

3) **top** - tells us the most popular data point.

4) **freq** - tells us that how frequent the most popular category is in our dataset.

In [12]:
kiva_loans_ke['sector'].unique()

array(['Services', 'Food', 'Retail', 'Clothing', 'Agriculture',
       'Personal Use', 'Arts', 'Transportation', 'Housing', 'Construction',
       'Education', 'Manufacturing', 'Health', 'Entertainment', 'Wholesale'], dtype=object)

What is next
-----

In the next section, we move on to exploratory data analysis (EDA).

<br>
<br> 
<br>

----